* {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

body {
  font-family: Merriweather, sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #3c3c3c; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.container {
  max-width: 1490px;
  margin: 0 auto;
  padding: 0 15px; }

.decoration {
  background: url(../image/bottom-decoration.png) no-repeat;
  display: block;
  margin: 25px auto 0;
  width: 253px;
  height: 33px; }

.page-title {
  text-align: center;
  font-size: 40px;
  font-weight: 300; }

.signature {
  width: 213px;
  height: 144px;
  background: url(../image/signature.png) no-repeat bottom right; }

.social {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }
  .social-icon {
    background: url(../image/social-icons.png) no-repeat;
    width: 50px;
    height: 50px;
    margin-left: 10px; }
    .social-icon:first-child {
      margin-left: 0; }
  .social-instagram {
    background-position: -64px 0; }

.header {
  background: url(../image/header.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 540px;
  height: 100vh; }
  .header__relative {
    position: relative;
    height: 100%; }
  .header__menu {
    padding-top: 30px;
    justify-content: flex-end; }
  .header__text {
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0;
    padding: inherit;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 18px; }
  .menu__item {
    margin-left: 20px; }
    .menu__item:first-child {
      margin-left: 0; }
  .menu__link {
    display: inline-block;
    color: inherit;
    padding: 8px 16px;
    border: 1px solid transparent;
    text-decoration: none; }
    .menu__link:hover, .menu__link_active {
      border-color: #3c3c3c; }

.products {
  background: url(../image/products-bg.png);
  text-align: center;
  padding: 60px 0; }
  .products-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; }

.product {
  width: 30%; }
  .product__title {
    padding-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase; }
  .product__img {
    height: 70px; }

.specials {
  padding: 60px 0; }
  .specials__wrap {
    padding-top: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
    .specials__wrap :nth-child(6n+4) :nth-child(1) {
      -webkit-order: 1;
      -moz-order: 1;
      -ms-order: 1;
      -o-order: 1;
      order: 1; }
    .specials__wrap :nth-child(6n+5) :nth-child(1) {
      -webkit-order: 1;
      -moz-order: 1;
      -ms-order: 1;
      -o-order: 1;
      order: 1; }
    .specials__wrap :nth-child(6n+6) :nth-child(1) {
      -webkit-order: 1;
      -moz-order: 1;
      -ms-order: 1;
      -o-order: 1;
      order: 1; }

.special-product {
  max-height: 248px;
  width: 33.33%;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  background-color: #ebebeb; }
  .special-product__info {
    padding: 0 10px;
    text-align: center;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .special-product__img-wrap {
    width: 50%;
    height: 100%; }
  .special-product__img {
    display: block;
    width: 100%;
    height: 100%; }
  .special-product__text {
    margin-bottom: 20px;
    font-weight: 300; }
  .special-product__price {
    font-size: 18px;
    font-weight: 700; }

.special-title {
  font-size: 18px;
  margin-bottom: 15px; }
  .special-title:after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 88px;
    height: 1px;
    background-color: #3c3c3c; }

.about {
  background-color: #eeefef; }
  .about__bg {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 620px;
    padding-top: 90px;
    padding-bottom: 90px;
    background: url(../image/about-bg.png) no-repeat 140% 50%; }
  .about__text-wrap {
    width: 45%;
    text-align: center; }
  .about__text {
    padding-top: 25px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 300; }
  .about__signature {
    display: flex;
    margin-left: auto; }

.restaurant-menu {
  padding: 30px 0; }
  .restaurant-menu__menu {
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 40px; }
    .restaurant-menu__menu .menu__link {
      padding-top: 12px;
      padding-bottom: 12px; }

.restaurant-menu-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between; }
  .restaurant-menu-list__item {
    width: 46%;
    margin-bottom: 25px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: baseline;
    align-items: baseline;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
  .restaurant-menu-list__title {
    text-transform: uppercase;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%; }
  .restaurant-menu-list__point {
    border-bottom: 1px dotted #3c3c3c;
    flex-grow: 1;
    margin: 0 4px; }
  .restaurant-menu-list__recept {
    width: 100%; }

.footer {
  background: url(../image/footer.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 590px;
  padding-top: 60px;
  padding-bottom: 20px; }
  .footer__content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center; }
  .footer__item {
    width: 33%; }
  .footer__copyright {
    font-size: 18px;
    text-align: center; }
  .footer__social {
    justify-content: flex-end; }

.contact {
  width: 40%; }
  .contact-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 70px; }
  .contact-adress {
    margin: 50px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
    .contact-adress__title {
      margin-bottom: 10px;
      text-transform: uppercase; }
    .contact-adress__left, .contact-adress__right {
      width: 47%; }
    .contact-adress__text {
      line-height: 24px; }
    .contact-adress__link {
      color: inherit;
      text-decoration: none; }
      .contact-adress__link:hover {
        text-decoration: underline; }
  .contact__form-title {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 30px; }

.form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between; }
  .form-input, .form__button {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent; }
  .form-input {
    width: 40%;
    color: inherit;
    font-style: italic;
    padding: 10px 10px 5px;
    margin-bottom: 40px;
    border: 0;
    border-bottom: 1px solid #3c3c3c; }
    .form-input::-webkit-input-placeholder {
      color: inherit; }
    .form-input::-moz-placeholder {
      color: inherit; }
    .form-input:-moz-placeholder {
      color: inherit; }
    .form-input:-ms-input-placeholder {
      color: inherit; }
    .form-input_full-size {
      width: 100%; }
  .form__button {
    margin: auto;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #3c3c3c; }

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1265px) {
  .about__bg {
    background: none; }
  .about__text-wrap {
    margin: 0 auto; } }

@media only screen and (max-width: 1200px) {
  .container {
    width: 1170px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .container {
    width: 970px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .container {
    width: 750px; } }

/* Extra Small Devices, Phones */
