$fz18: 18px;
$fz40: 40px;

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

body {
	font-family: Merriweather, sans-serif;
	font-size: 16px;
	background-color: #fff;
	color: #3c3c3c;
}

.fixed {
	position: fixed;
	width: 100%;
	padding: 15px 0;
	background-color: rgba(255, 255, 255, 0.64);
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.container {
	max-width: 1490px;
	margin: 0 auto;
	padding: 0 15px;
}

.decoration {
	background: url(../image/bottom-decoration.png) no-repeat;
	display: block;
	margin: 25px auto 0;
	width: 253px;
	height: 33px;
}

.page-title {
	text-align: center;
	font-size: $fz40;
	font-weight: 300;
}

.signature {
	width: 213px;
	height: 144px;
	background: url(../image/signature.png) no-repeat bottom right;
}

.social {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	&-icon {
		background: url(../image/social-icons.png) no-repeat;
		width: 50px;
		height: 50px;
		margin-left: 10px;
		&:first-child {
			margin-left: 0;
		}
	}
	&-instagram {
		background-position: -64px 0;
	}
}

.header {
	background: url(../image/header.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 540px;
	height: 100vh;
	&__flex {
		height: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: flex-end;
		-ms-align-items: center;
		align-items: center;
	}
	&__menu {
		justify-content: flex-end;
	}
	&__text {
		text-align: center;
	}
}

.menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	font-size: $fz18;
	&__item {
		margin-left: 20px;
		&:first-child {
			margin-left: 0;
		}
	}
	&__link {
		display: inline-block;
		color: inherit;
		padding: 8px 16px;
		border: 1px solid transparent;
		text-decoration: none;
		&:hover, &_active {
			border-color: #3c3c3c;
		}
	}
}

.products {
	background: url(../image/products-bg.png);
	text-align: center;
	&-flex {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}
	padding: 60px 0;
}

.product {
	width: 30%;
	&__title {
		padding-top: 20px;
		margin-bottom: 15px;
		font-size: $fz18;
		text-transform: uppercase;
	}
	&__img {
		height: 70px;
	}
}

.specials {
	padding: 60px 0;
	&__wrap {
		padding-top: 50px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		& :nth-child(6n+4) :nth-child(1) {
			-webkit-order: 1;
			-moz-order: 1;
			-ms-order: 1;
			-o-order: 1;
			order: 1;
		}
		& :nth-child(6n+5) :nth-child(1) {
			-webkit-order: 1;
			-moz-order: 1;
			-ms-order: 1;
			-o-order: 1;
			order: 1;
		}
		& :nth-child(6n+6) :nth-child(1) {
			-webkit-order: 1;
			-moz-order: 1;
			-ms-order: 1;
			-o-order: 1;
			order: 1;
		}
		
	}
}

.special {
	&-product {
		max-height: 248px;
		width: 33.33%;
		overflow: hidden;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		background-color: #ebebeb;
		&__info {
			padding: 0 10px;
			text-align: center;
			width: 50%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		&__img-wrap {
			width: 50%;
			height: 100%;
		}
		&__img {
			display: block;
			width: 100%;
			height: 100%;
		}
		&__text {
			margin-bottom: 20px;
			font-weight: 300;
		}
		&__price {
			font-size: $fz18;
			font-weight: 700;
		}
	}
	&-title {
		font-size: $fz18;
		margin-bottom: 15px;
		&:after {
			content: '';
			display: block;
			margin: 0 auto;
			margin-top: 10px;
			width: 88px;
			height: 1px;
			background-color: #3c3c3c;
		}
	}
}

.about {
	background-color: #eeefef;
	&__bg {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		min-height: 620px;
		padding-top: 90px;
		padding-bottom: 90px;
		background: url(../image/about-bg.png) no-repeat 140% 50%;
	}
	&__text-wrap {
		width: 45%;
		text-align: center;
	}
	&__text {
		padding-top: 25px;
		margin-bottom: 20px;
		font-size: 30px;
		font-weight: 300;
	}
	&__signature {
		display: flex;
    	margin-left: auto;
	}
}

.restaurant-menu {
	padding: 30px 0;
	&__menu {
		justify-content: center;
		margin-top: 35px;
		margin-bottom: 40px;
		& .menu__link {
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}
}

.restaurant-menu {
	&-list {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
		&__item {
			width: 46%;
			margin-bottom: 25px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: baseline;
			align-items: baseline;
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			-o-flex-wrap: wrap;
			flex-wrap: wrap;
		}
		&__title {
			text-transform: uppercase;
			font-size: $fz18;
			white-space: nowrap;
			overflow: hidden;
			max-width: 80%;
		}
		&__point {
			border-bottom: 1px dotted #3c3c3c;
			flex-grow: 1;
			margin: 0 4px;
		}
		&__recept {
			width: 100%;
		}
	}	
}

.footer {
	background: url(../image/footer.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 590px;
	padding-top: 60px;
	padding-bottom: 20px;
	&__content {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-align-items: center;
		align-items: center;
	}
	&__item {
		width: 33%;
	}
	&__copyright {
		font-size: $fz18;
		text-align: center;
	}
	&__social {
		justify-content: flex-end;
	}
}

.contact {
	width: 40%;
	&-wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 70px;
	}
	&-adress {
		margin: 50px 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		&__title {
			margin-bottom: 10px;
			text-transform: uppercase;
		}
		&__left, &__right {
			width: 47%;
		}
		&__text {
			line-height: 24px;
		}
		&__link {
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__form-title {
		text-transform: uppercase;
		font-size: $fz18;
		margin-bottom: 30px;
	}
}

.form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	&-input, &__button {
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: transparent;
	}
	&-input {
		width: 40%;
		color: inherit;
		font-style: italic;
		padding: 10px 10px 5px;
		margin-bottom: 40px;
		border: 0;
		border-bottom: 1px solid #3c3c3c;
		&::-webkit-input-placeholder {color: inherit;}
		&::-moz-placeholder    		 {color: inherit;} 
		&:-moz-placeholder      	 {color: inherit;} 
		&:-ms-input-placeholder 	 {color: inherit;}
		&_full-size {
			width: 100%;
		}
	}
	&__button {
		margin: auto;
		cursor: pointer;
		padding: 10px 20px;
		border: 1px solid #3c3c3c;
	}
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1265px) {
	.about__bg {
		background: none;
	}
	.about__text-wrap {
	    margin: 0 auto;
	}
}

@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.container {
		width: 1170px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.container {
		width: 970px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}